<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!-- 日志级别 -->
    <property name="logLevel" value="DEBUG"/>

    <!-- 日志地址 -->
    <property name="logPath" value="./logs"/>

    <!-- 最大保存时间 10天 -->
    <property name="maxHistory" value="10"/>


    <property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger [%line] - %msg%n"/>


    <!-- 控制台打印日志的相关配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志格式 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>


    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>

    </root>
</configuration>
